@media screen and (min-width: 1024px) {
    .info {
        margin: auto;
        width: 75%;
        text-align: center;
        padding: 1rem 0 1rem 0;
    }

    .servicesShowcase {
        margin: 2rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;

    }

    .servicesShowcase .ServiceCard {
        border: 0.1rem solid black;
        padding: 1rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .servicesShowcase .ServiceCard p {
        padding: 0.8rem 0;
    }

    .servicesShowcase .ServiceCard ul {
        text-align: start;
        width: 60%;
        margin: 0 auto;
    }

    .servicesShowcase .ServiceCard img {

        width: 8rem;
        height: auto;

    }

    .stafServiceShowcase {
        margin: 2rem;
        display: flex;
        flex-direction: row;
        /* flex-wrap: wrap; */
        justify-content: space-evenly;

    }

    .stafServiceShowcase .stafServiceCard {
        margin: 1rem;
        border: 0.1rem solid black;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .stafServiceShowcase .stafServiceCard p {

        text-align: center;
    }

    .stafServiceShowcase .stafServiceCard img {

        width: 8rem;
        height: auto;

    }

    .divServices {
        text-align: center;
    }

}




@media screen and (min-width: 768px) and (max-width: 1023px) {
    .info {
        margin: auto;
        width: 75%;
        text-align: center;
        padding: 1rem 0 1rem 0;
    }

    .servicesShowcase {
        margin: 2rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;

    }

    .servicesShowcase .ServiceCard {
        border: 0.1rem solid black;
        padding: 1rem;
        margin: 0.5rem;

        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .servicesShowcase .ServiceCard p {
        padding: 0.8rem 0;
    }

    .servicesShowcase .ServiceCard ul {
        text-align: start;
        width: 60%;
        margin: 0 auto;
    }

    .servicesShowcase .ServiceCard img {

        width: 8rem;
        height: auto;

    }

    .stafServiceShowcase {
        margin: 2rem;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        flex-wrap: wrap;
    }



    .stafServiceShowcase .stafServiceCard {
        border: 0.1rem solid black;
        padding: 1rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }



    .stafServiceShowcase .stafServiceCard p {
        width: 50%;
        height: auto;
        text-align: center;
    }

    .stafServiceShowcase .stafServiceCard img {

        width: 8rem;
        height: auto;

    }

    .divServices {
        text-align: center;
    }
}



@media screen and (max-width: 767px) {
    .info {
        margin: auto;
        width: 75%;
        text-align: center;
        padding: 1rem 0 1rem 0;
    }

    .servicesShowcase {
        margin: 2rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;

    }

    .servicesShowcase .ServiceCard {
        border: 0.1rem solid black;
        padding: 1rem;
        margin: 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .servicesShowcase .ServiceCard img {

        width: 8rem;
        height: auto;

    }

    .stafServiceShowcase {
        margin: 2rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;

    }

    .stafServiceShowcase .stafServiceCard {
        margin: 1rem;
        border: 0.1rem solid black;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .stafServiceShowcase .stafServiceCard p {
        width: 50%;
        height: auto;
        text-align: center;
    }

    .stafServiceShowcase .stafServiceCard img {

        width: 8rem;
        height: auto;

    }

    .divServices {
        text-align: center;
    }

}