header {
    background-color: #318ECC;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {

    padding: 1rem 0 0 0;
}

header nav {
    margin: auto;
    padding: 1rem 0 1rem 0;
}

a {
    text-decoration: none;
    color: inherit;
    padding: 0 1rem 0 1rem;
}

footer {
    text-align: center;
    color: black;
    background-color: #57FFE9;
    padding: 1rem;
}

* {
    margin: 0px;
    padding: 0px;
    text-decoration-line: none;
    color: inherit;
    line-height: normal;
    box-sizing: unset;
}

fieldset {
    padding: 1.5rem;
    margin: 0.5rem;
    background-color: white;
}

legend {
    background-color: white;

}

.UlAnidado {
    padding: 0 0 0 1.5rem;
}

body {
    background-color: #718999;
}

.AboutMeSecc {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}